<section>
    <h1>Education</h1>
    <div class="card-container readmore">
        {% assign sorted = site.categories.education | sort: 'enddate' | reverse %}
        {% for entry in sorted %}
            <div class="occupation-card">
              <div class="occupation-card-left">
                  <!--<div class="occupation-img">
                     <img
                        src="assets/img/education/{{ entry.thumbnail }}"
                        width="50px"
                        height="50px"/>
                  </div>-->
                  <div>
                     <time datetime="{{ entry.startdate }}" itemprop="datePublished">{{ entry.startdate | date: "%m/%Y" }}</time>
                      - 
                     <time datetime="{{ entry.enddate }}" itemprop="datePublished">{{ entry.enddate | date: "%m/%Y" }}</time>
                  </div>
              </div>
              <div class="occupation-card-right">
                  <div class="occupation-title">
                      {{entry.title}}
                  </div>
                  <div class="occupation-location">
                      {{entry.location}}
                  </div>
                  <div class="occupation-description">
                      {{entry.description}}
                  </div>
              </div>
            </div><!-- occupation-card !-->
        {% endfor %}
        <a class="readmore-link"><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    </div><!-- card-container readmore !-->
</section>
