<h1>Education</h1>
<ul>
  {% assign sorted = site.categories.education | sort: 'enddate' | reverse %}
  {% for post in sorted %}
  <li class="article-card">
      <div id="article-container">
        <div id="article-img">
           <img
              src="assets/img/education/{{ post.thumbnail }}"
              width="50px"
              height="50px"
           />
        </div>
        <div>
           <time datetime="{{ post.startdate }}" itemprop="datePublished">{{ post.startdate | date: "%m/%Y" }}</time>
            - 
           <time datetime="{{ post.enddate }}" itemprop="datePublished">{{ post.enddate | date: "%m/%Y" }}</time>

        </div>
        <div class="post-title">
            {{post.title}}
        </div>
        <div class="post-location">
            {{post.location}}
        </div>
        <div class="post-description">
            {{post.description}}
        </div>
      </div>
  </li>
  {% endfor %}
</ul>
