<section>
    <h1>Work experience</h1>
    <div class="card-container">
      {% assign sorted = site.categories.work | sort: 'startdate' | reverse %}
      {% for entry in sorted %}
      <div class="occupation-card">
        <div class="occupation-card-left">
            <!--<div class="occupation-img">
               <img
                  src="assets/img/education/{{ entry.thumbnail }}"
                  width="50px"
                  height="50px"/>
            </div>-->
            <div>
               <time datetime="{{ entry.startdate }}" itemprop="datePublished">{{ entry.startdate | date: "%m/%Y" }}</time>
                - 
               <time datetime="{{ entry.enddate }}" itemprop="datePublished">{{ entry.enddate | date: "%m/%Y" }}</time>
            </div>
        </div>
        <div class="occupation-card-right">
            <div class="occupation-title">
                {{entry.company}}, {{entry.function}}, {{entry.location}}
            </div>
            <div class="occupation-description">
                {{entry.description}}
            </div>
        </div>
      </div><!-- occupation-card !-->
      {% endfor %}
      </div><!-- card-container !-->
</section>
