.card-container {
    display: grid;
    grid-gap: 1rem;
}

.occupation-card {
    @media only screen and (min-width: $cut) {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: minmax(150px, 25%) 1fr;
    }
}

.occupation-card-left {
    @media only screen and (max-width: $cut) {
        display: none;
    }
}

.occupation-title {
    font-weight: bolder;
}

.occupation-location {
    font-style: italic;
}
